*{
    background-color: #ad3bb0;
    font-family: 'Optima', sans-serif;
    font-size: 2vw;
}

main{
    margin-top: 10vw;
}

img{
    width: 60%;
}

a:hover{
    color: black;
}

@media screen and (max-width:576px){
    *{
        font-size: 4vw;
    }
    img{
        width: 100px;
    }
}