main{
    padding-top: 100px;
}

.fondo-img{
    padding: 5em;
    background-image: url(https://infonegocios.info/content/images/2022/07/21/139530/rollingcode-tucuman-2.jpg);
    background-size: cover;
    background-position: bottom;
}

.fondo-letra{
    background-color: gray;
    opacity: 70%;
}

.fondo-formulario {
    color: white;
    background-color: #160D26;
}

.container-form i{
    color: #160D26;
}

.container-form h2{
    color:black;
}

.container-form p{
    color:black;
}

.container-form h4{
    color:black;
}

@media screen and (max-width:1200px){
    *{
        font-size: 15px;
    }

    main{
        padding-top:90px;
}
}

@media screen and (max-width:576px){
    *{
        font-size:10px;
}
}