.main-content {
	display: flex;
	
	background-color: black;
	padding: 2.5rem;

	gap: 3rem;
}

.title-playlist {
	font-size: 2.4rem;
	color: #d37cd5;
	cursor: pointer;
	font-weight: 600;
}

.title-playlist:hover {
	text-decoration: underline;
	color: #ad3bb0;
}

.container-gral-Rock,
.container-gral-Pop,
.container-gral-Cumbia,
.container-gral-Favorito_de_Rolling {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.container-card-Rock,
.container-card-Pop,
.container-card-Cumbia,
.container-card-Favorito_de_Rolling {
	display: flex;
	
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.4rem;
}

.card-Rock,
.card-Pop,
.card-Cumbia,
.card-Favorito_de_Rolling {
	display: flex;
	background-color: #181818;
	border-radius: 0.5rem;
	padding: 1.6rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-Rock:hover,
.card-Pop:hover,
.card-Cumbia:hover,
.card-Favorito_de_Rolling:hover {
	background-color: #d37cd5;
}

.card-img img {
	display: flex;
	width: 100%;
	border-radius: 0.5rem;
}

.card-img {
	display: flex;
	overflow: hidden;
}

.card h2 {
	display: flex;
	background-color: #434343;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	color: black;
	font-weight: 600;
}

.card p {
	display: flex;
	background-color: #434343;
	margin: 0;
	font-size: 1.3rem;
	color: black;
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}